<h1>登録済トイレ一覧</h1>
<table>
  <thead>
    <tr>
      <th>トイレ名称</th>
      <th>登録日</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @toilets.each do |toilet| %>
      <% if toilet.user_id == current_user.id %>
        <tr>
          <td><%= link_to toilet.toilet_name, toilet %></td>
          <td><%= toilet.created_at.strftime("%Y年%-m月%-d日") %></td>
          <td><%= link_to 'Edit', edit_toilet_path(toilet) %></td>
          <td><%= link_to 'Destroy', toilet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
