/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$cGreen: #087241;
$cOrange: #fc9816;
$cMen: #0055ff;
$cWomen: #ff0055;
$cShadow: #232323;

.header-base {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
  left: 0px;
  z-index: 5;
  box-shadow: 0 1px 5px 0 $cShadow;
}

.header {
  background-color: #beedff;
  display: flex;
  justify-content: space-between;
  height: 80px;
  &.left {
    width: 300px;
  }
  &.right {
    line-height: 0.5;
    width: 250px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    &.name {
      padding-right: 5px;
      width: 230px;
      height: 80px;
      text-align: right;
    }
    &.icon {
      margin: 5px 10px 5px 5px;
      width: 70px;
      height: 70px;
    }
  }
}

#btn-guest {
  font-size: 1.2rem;
  color: red;
  background-color: yellow;
}

.blank {
  height: 60px;
}

.line-space {
  height: 15px;
}

.index-flame {
  margin: 0 auto 30px;
  max-width: 600px;
  padding: 30px 10%;
  border: 3px dashed blue;
  border-radius: 0.5rem;
  background-color: #e0f1ff;
}

.overview {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  &.title {
    font-size: 1.8rem;
    color: blue;
    font-weight: bold;
  }
}

label {
  display: inline-block;
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #2c2c2c;
  &.required {
    &::after {
      content: "必須";
      font-size: 0.8rem;
      font-weight: 600;
      padding: 4px;
      margin-left: 5px;
      color: #fff;
      background-color: red;
    }
  }
}

.page-flame {
  margin: 0 auto 30px;
  max-width: 600px;
  padding: 30px 10%;
  border: 3px dashed $cOrange;
  border-radius: 0.5rem;
  background-color: #fffcd3;
}

.page-control {
  font-size: 1.1rem;
  padding: 0.3rem 0;
  &.center {
    margin: 0 auto;
    text-align: center;
  }
  &.table-left {
    text-align: right;
  }
  &.table-right {
    text-align: left;
  }
}

.form-flame {
  margin: 0 auto 30px;
  max-width: 600px;
  padding: 30px 10%;
  border: 3px dashed $cGreen;
  border-radius: 0.5rem;
  background-color: #e3ffe3;
  &.men {
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border: 3px dashed $cMen;
    background-color: #d2f4ff;
  }
  &.women {
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border: 3px dashed $cWomen;
    background-color: #ffd7de;
  }
}

.form-control {
  width: 95%;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #575757;
  background-color: #fff;
  border: 1.5px solid #b1b1b1;
  border-radius: 0.25rem;
  &:focus {
    background-color: #bbddff;
  }
  &.number {
    width: 57px;
  }
}

.form-other {
  margin: 30px -40px -10px 0;
  text-align: right;
}

.toilet-table {
  min-width: 260px;
  max-width: 540px;
  margin: 20px auto;
  border-radius: 0.5rem;
}

.item {
  padding: 10px 15px;
  font-size: 1.1rem;
  background-color: #cfcfcf;
  text-align: center;
  &.men-label {
    color: #fff;
    background-color: $cMen;
    font-weight: bold;
  }
  &.men {
    color: $cMen;
    background-color: #ace5ff;
  }
  &.women-label {
    color: #fff;
    background-color: $cWomen;
    font-weight: bold;
  }
  &.women {
    color: $cWomen;
    background-color: #ffd3fd;
  }
  &.white {
    min-width: 160px;
    max-width: 400px;
    background-color: #fff;
  }
}

.actions {
  margin-top: 30px;
  text-align: center;
}

.btn-control {
  margin: 0 auto;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  text-decoration: none;
  box-shadow: 0 0 5px 0 $cShadow;
  cursor: pointer;
  &.green {
    color: #fff;
    background-color: $cGreen;
    border: 2px solid #003300;
  }
  &.orange {
    color: #fff;
    background-color: $cOrange;
    border: 2px solid #ff6600;
  }
  &.blue {
    color: #000;
    background-color: #beedff;
    border: 2px solid #5050ff;
  }
}

.image-display {
  border-radius: 50%;
  border: 3px solid #636363;
  width: 65px;
  height: 65px;
  box-shadow: 0 0 3px 0 $cShadow;
  &.mini {
    width: 25px;
    height: 25px;
    border: 1.5px solid #636363;
    box-shadow: 0 0 2px 0 $cShadow;
  }
}

.image-logo {
  max-width: 100%;
  box-shadow: 1px 0 5px 0 $cShadow;
}

.info-label {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  &.orange {
    font-size: 1.5rem;
    color: $cOrange;
  }
  &.men {
    color: $cMen;
  }
  &.women {
    color: $cWomen;
  }
}

.warning-messeage {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.balloon {
  text-align: center;
  font-weight: bold;
  color: #000;
  &.toilet-name {
    font-size: 1.2rem;
    text-decoration: none;
    color: $cOrange;
  }
}

.text-right {
  text-align: right;
}
