/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$cGreen: #087241;

#header {
  margin: -34px -34px 0 -34px;
}

.header {
  background-color: gray;

  &.upper {
    display: flex;
    justify-content: space-between;
    height: 80px;

    &.left {
      background-color: orange;
      top: 0;
      width: 300px;
    }

    &.right {
      line-height: 0.5;
      background-color: orange;
      top: 0;
      width: 300px;
    }
  }

  &.lower {
    text-align: center;

    &.menu {
      margin: 0 auto;
      margin-bottom: -10px;
      background-color: yellow;
      display: inline-block;
      width: 19%;
      height: 30px;

      & p {
        font-weight: bold;
      }
    }
  }

}

label {
  display: inline-block;
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #2c2c2c;

  &.required {
    &::after {
      content: "必須";
      font-size: 0.8rem;
      font-weight: 600;
      padding: 4px;
      margin-left: 5px;
      color: white;
      background-color: red;
    }
  }
}

.form-control {
  width: 95%;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #575757;
  background-color: #fff;
  border: 1.5px solid #b1b1b1;
  border-radius: 0.25rem;

  &:focus {
    background-color: #bbddff;
  }

  &.number {
    width: 57px;
    // padding: 0.3rem 0.1rem;
  }

}

.form-flame {
  margin: 0 20%;
  padding: 5% 10%;
  border: 3px dashed $cGreen;
  border-radius: 0.5rem;
  background-color: #e3ffe3;
}

.form-other {
  margin: 30px -40px -10px 0;
  text-align: right;
}

.item {
  background-color: #cfcfcf;
  text-align: center;

  &.men {
    color: blue;
    background-color: #ace5ff;
  }

  &.women {
    color: red;
    background-color: #ffd3fd;
  }
}

.actions {
  margin-top: 30px;
  text-align: center;
}

.btn-control {
  // width: 100px;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;

  &.submit {
    color: white;
    background-color: $cGreen;
    border: 2px solid #003300;
  }
}


.image-display {
  border-radius: 50%;
  border: 3px solid gray;
  width: 65px;
  height: 65px;
}
